* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  background-color: rgb(206, 193, 193);
}

.green {
  height: 80px;
  background-color: rgb(60, 206, 186);
}

/* classi utility */
.d-flex {
  display: flex;
}
.container {
  justify-content: center;
  align-items: center;
}

.windowApp {
  width: 1430px;
  height: 880px;
  position: relative;
  top: -70px;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 40%;
  height: 100%;
  background-color: white;
}

.chat {
  width: 50%;
  height: 100%;
  background-image: url("./img/mine.jpg");
}

.userName {
  height: 70px;
  background-color: rgb(211, 209, 209);
  position: relative;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-top: 5px;
  margin-left: 10px;
}

/* CLASSI ICONE */
.userName span,
.circle,
.message,
.dot {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.circle {
  margin-left: 400px;
}
.message {
  margin-left: 430px;
}
.dot {
  margin-left: 450px;
}
/* /FINE CLASSI ICONE */

.notification {
  height: 80px;
  width: 900px;
  background-color: lightblue;
}
