* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  background-color: rgb(206, 193, 193);
  position: relative;
}
.green {
  width: 100%;
  height: 100px;
  top: 0%;
  background-color: rgb(86, 206, 176);
  position: absolute;
  z-index: 0;
}

/* classi utility */

.sent {
  background-color: rgb(175, 226, 175);
  float: right;
}
.received {
  background-color: white;
  float: left;
}
.textActive::after {
  content: "";
  display: table;
  clear: both;
}
.textActive {
  padding: 20px;
}
.sent,
.received {
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.d-flex {
  display: flex;
}

.left {
  width: 400px;
  height: 100%;
  background-color: grey;
  border-right: 1px solid lightgray;
}
.right {
  width: calc(100% - 400px);
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 1140px;
  height: 600px;
  margin: 30px auto;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SEZIONE USERNAME */
.userName,
.contactUser {
  height: 84px;
  padding: 10px;
  background-color: rgb(238, 230, 230);
  justify-content: space-between;
  align-items: center;
}
.user p,
.contattoChat p {
  line-height: 60px;
  margin-left: 10px;
}

img.avatar {
  width: 60px;
  border-radius: 50%;
}

/* CLASSI ICONE */
.icons > i {
  color: rgb(190, 185, 185);
  font-size: 25px;
  padding: 10px;
}

.search > input {
  width: 89%;
  height: 100%;
  border-style: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(240, 245, 245);
  padding-left: 10px;
}
/* /FINE CLASSI ICONE */

/* CLASSI DELLA SIDEBAR */
.notification {
  padding: 20px 22px;
  background-color: lightblue;
}
.bell {
  border-radius: 50%;
  font-size: 2em;
  padding: 20px;
  color: #87cdee;
  background-color: #f9fbfc;
}
.notification .addNotification p {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 16px;
}
.notification .addNotification a {
  color: #3e5a70;
  font-size: 14px;
  margin-left: 40px;
}
.search {
  height: 60px;
  padding: 10px;
  background-color: rgb(250, 246, 246);
}
.d-search {
  color: rgb(190, 185, 185);
  margin-left: 10px;
  margin-right: 10px;
}

.contacts {
  height: calc(100% - 84px - 112px - 60px);
  overflow-y: scroll;
}
.contact {
  padding: 18px 20px;
  border-bottom: 1px solid grey;
  background-color: rgb(234, 243, 245);
  border-bottom: 1px solid rgb(236, 226, 226);
}

/* SEZIONE CHAT */
.boxChat {
  width: 100%;
  height: calc(100% - 84px - 84px);
  overflow-y: scroll;
  background-image: url("./img/mine.jpg");
}
.messageChat {
  height: 84px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(238, 230, 230);
}

.messageChat > input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-style: none;
  outline: none;
  padding-left: 10px;
  border: 1px solid grey;
}
.messageChat > i {
  margin: 0 10px;
  font-size: 25px;
  color: rgb(190, 185, 185);
}
.cardData {
  position: relative;
  width: 250px;
  height: 50px;
}

.cardData > .dataMessage {
  position: absolute;
  right: 0;
  font-size: 5px;
  margin-top: 5px;
  color: grey;
  bottom: 0;
}
